body {
    font-family: "roboto", sans-serif;
    background-image: url("imagenes/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0 30px 0 30px;
}
a {
    text-decoration: none;
}
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}


section {
    display: flex;
    height: 430px;  
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition:.5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 250px;
    opacity: 1;
    filter: contrast(120%);
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px;
  flex-wrap: wrap;
}

.article {
  flex-basis: calc(33.33% - 50px);
  margin-right: 0px;
  margin-bottom: 50px;
  position: relative;
}

@media (max-width: 991px) {
  .article {
    flex-basis: calc(50% - 50px);
  }
}

@media (max-width: 767px) {
  .article {
    flex-basis: calc(100% - 50px);
  }
}

.article img {
  width: 100%;
  height: auto;
}

.article h2 {
  margin: 10px 0 5px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #fff;
}

.article p.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  font-family: 'Georgia', serif;
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
}

.article:hover p.hidden {
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
}

.article.active p.hidden {
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
}

.who {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.who__img {
  margin-bottom: 30px;
}

.who__img img {
  width: 300px;
  height: 300px;
}

.who__desc {
  text-align: center;
}

.who__desc h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.who__desc p {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Media Queries */

@media (min-width: 768px) {
  .who {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .who__img {
    margin-right: 50px;
    margin-bottom: 0;
  }

  .who__desc {
    text-align: left;
  }
}


footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.social-icons a {
  margin-right: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin-right: 30px;
}

.logo:hover {
  color: #00d0ff;
}

footer a img:hover {
  opacity: 0.7;
}
